/* 
    Document   : consoleStyle
    Created on : Jul 3, 2013, 11:33:00 AM
---------------------------------------------
    Styling for the console (#bottomRight, area/consolearea.js)
---------------------------------------------
*/
    #console {   
        width:99.8%;
        height: 99.7%;
        background-color: #EEEEEE;
        border: 2% solid #CCCCCC;
        font-family: "Monaco","Courier New",monospace; 
        overflow: auto;
        position: relative;
    } 

    #pastmessages {
        margin-left:5%;
        margin-right:5%;
        padding-top: 5%;
    }

    .systemmess {   
        padding:2%;
        background-color: whitesmoke; 
        border-radius: 15px;    
    }

    .redline {     
        color: #ED2E2E;
    }
    .greyline {
        color: rgb(135, 173, 187)
    }
    .orangeline {
        color: #F80 
    } 
    .greenline {
      color : #00B85C
    }
    .blueline {
        color : blue;
    }
    .usermessage {
       margin-top:2%;
       margin-bottom: 2%;    
    }
    .prompt {     
        margin-left: 5%;
    } 
    .cursor {
        height: 10%;
        width: 10%;
        background-color:#666666; 
    }
    .journalcursor {
        
    }/*journal*/
    #journalinput {
        background-color:#F5F5F5;
        border-radius: 15px;   
        height: 600px;
        font-family: "Monaco","Courier New",monospace;
        font-size:16px;
        resize:none;
        outline:0px !important;
        -webkit-appearance:none;
        padding:50px;
        width: 70%

    }

    input {
        background: #EEEEEE;
        height: 10%; 
        width: 80%;
        border: none;
        outline: none;
        font-family: "Monaco","Courier New",monospace; 
        font-size: 15px;
    }

    input:text {
        font-family: "Monaco","Courier New",monospace; 
    }

    input:focus {
        border: none; 
        outline: none;    
    }
