/* 
    Document   : d3Style
    Created on : Jul 3, 2013, 11:32:06 AM
    Author     : samhincks
    Description:
        Purpose of the stylesheet follows.
*/
  .step {
        width: 1000px;
        height: 1000px;
        display: block;
        padding: 100px;
        font-size: 200px;
        border: 10px solid black;

        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;
    }

   
   .chart {
      font: 10px monospace;
      background-color: ghostwhite; // #EEEEEE;//
      text-align: right;
      color: white;
      height:100%;
      width:100%;
      position:absolute; /*if relative positioning, then charts will display one after another*/
      
    }
    .predChart {
        font: 10px monospace;
        background-color: ghostwhite;
        text-align: right;
        padding: 50px;
        color: white;
        position:absolute; /*if relative positioning, then charts will display one after another*/
        width: 94%;
        height: 94%;
        z-index: 1000;
    }

    #channelSelection {
        position: fixed;
        z-index: 1500;
        background-color:  #EEEEEE;//
    }
    .chart rect {
       stroke: white;
    }
    .corSquare {
        fill: rgb(0, 12, 136);
    }

    .x.axis {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .y.axis { //.. cant change position here
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .y.axis.pred{
        font: 12px monospace;
    }
/*  path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }*/

    .d3line {
        fill: none;
        stroke-width: 7px;
        opacity: 0.4;
    }
    .meanline{
        stroke-width: 3px;
        opacity: 0.4;
        fill:none;
       stroke-dasharray:3 3

    }
    .d3line:hover {
        opacity:0.9;
    }
    .expectedLine {
            opacity: 0.7;
            stroke: black;
     }
    .percentageLabbel {
         z-index: 60;
         opacity: 1;
     }
    /** D3 TIP 
     **/
    .d3-tip {
         line-height: 1;
         font-weight: bold;
         padding: 12px;
         background: rgba(0, 0, 0, 0.8);
         color: #fff;
         border-radius: 2px;
     }

     /* Creates a small triangle extender for the tooltip */
     .d3-tip:after {
         box-sizing: border-box;
         display: inline;
         font-size: 10px;
         width: 100%;
         line-height: 1;
         color: rgba(0, 0, 0, 0.8);
         content: "\25BC";
         position: absolute;
         text-align: center;
     }

     /* Style northward tooltips differently */
     .d3-tip.n:after {
         margin: -1px 0 0 0;
         top: 100%;
         left: 0;
     }
     
    /*
    * The CSS below is intended for the "global" styles of svg.line-graph, not specifics per graph such as color of lines
    * which is expected to come from the data itself (even though it can be done via CSS as well if wanted)
    */


    svg.line-graph text {
            cursor: default;
    }

    svg.line-graph .hover-line {
            stroke: #6E7B8B;
    }

    svg.line-graph .hide {
            opacity: 0;
    }

    svg.line-graph .axis {
      shape-rendering: crispEdges;
    }

    svg.line-graph .x.axis line {
      stroke: #D3D3D3;
    }

    svg.line-graph .x.axis .minor {
      stroke-opacity: .5;
    }

    svg.line-graph .x.axis path {
      display: none;
    }

    svg.line-graph .x.axis text {
            font-size: 10px;
    }

    svg.line-graph .y.axis line, .y.axis path {
      fill: none;
      stroke: #000;
    }

    svg.line-graph .y.axis text {
            font-size: 12px;
    }

    svg.line-graph .scale-button:not(.selected):hover {
            text-decoration: underline;
            cursor: pointer !important;
    }

    svg.line-graph .date-label {
            fill: #6E7B8B;
    }